// Sass Variables

// Colors
$primary-default: #a16a5e;
$background-light: #fcebd5;
$background-normal: #edd5bb;
$background-dark: #e09686;
$text-white: #f8f8f8;
$text-default: #5a5a5a;
$brick-white: #ffffff66;
$primary-contrast: #d44c2e;
$confirm-color: #d4392e;
$primary-green: #1bac6f;
$primary-blue: #1b59ac;
$primary-blue-disabled: #7287a28c;
$background-gray: #e5e5e5;
